@{
    ViewData["Title"] = "Curriculum Page";
}
<figure>
    <img src="http://drive.google.com/uc?export=view&id=1wFwa3RmODEs6xVEBKLMZRUsx4x8Z3E7c" alt="..." width="250" height="300">
</figure>
<h1>Meylin Nohely Reyes Medina</h1>

      <div class="text-left">
        <h5>Fecha de nacimiento: 20 de Diciembre de 2002 </h5>
        <h5>Edad: 18 años</h5>
        <h5>Lugar de nacimiento: San miguel, San Miguel</h5>
        <h5>Dirección: Col. Buena Vista, Corinto, Morazán</h5>
        <h5>Padre: José Antonio Reyes Flores</h5>
        <h5>Madre: Deysu Nohemy Medina Fuentes</h5>
        <h5>Hermanos/as: Daylin Krisali Reyes Medina</h5>
      </div>

      <div class="text-left">
        <h5>Instituciones donde estudió: </h5>
        <div class="card-group">
            <div class="card">
                <img src="http://drive.google.com/uc?export=view&id=1wggNLeXZG7Oh33QsEnYRfAXMwVZJ16st" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Centro Educativo Dr. Arturo Romero</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            <div class="card">
                <img src="http://drive.google.com/uc?export=view&id=1wg0wPxURwOwA1nP5wjovAO7m7XwCP_dP" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Instituto Nacional de Corinto</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            <div class="card">
                <img src="http://drive.google.com/uc?export=view&id=1wdrrod-mRrT9ctz1f7xvtKavDKastkcs" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Universidad Gerardo Barrios</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
            </div>
        <h5>Experiencia Laboral: Ninguna</h5>
      </div>

